<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/catalog.css" />
    <title>Catalog</title>
  </head>
  <body>
    <section class="catalog">
      <ul class="catalog__list">
        <li class="catalog__item">Item 1</li>
        <li class="catalog__item">Item 2</li>
        <li class="catalog__item">Item 3</li>
        <li class="catalog__item">Item 4</li>
        <li class="catalog__item">Item 5</li>
        <li class="catalog__item">Item 6</li>
        <li class="catalog__item">Item 7</li>
      </ul>
    </section>
  </body>
</html>
